*.gcda
*.gcno
*.log
*.trs
*~
ABOUT-NLS
ChangeLog
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/ar-lib
build-aux/compile
build-aux/config.guess
build-aux/config.sub
build-aux/depcomp
build-aux/install-sh
build-aux/ltmain.sh
build-aux/mdate-sh
build-aux/missing
build-aux/test-driver
build-aux/texinfo.tex
config.h
config.h.in
config.log
config.status
configure
contrib/doxygen/Doxyfile
contrib/doxygen/html/
contrib/doxygen/latex/
csharp/CombiningClass.cs
csharp/Composition.cs
csharp/CompositionExclusions.txt
csharp/DecompositionKeys.cs
csharp/DecompositionMappings.cs
csharp/GenerateTables.exe
csharp/Libidn.dll
csharp/Makefile
csharp/Makefile.in
csharp/RFC3454.cs
csharp/UnicodeData.txt
csharp/rfc3454.txt
csharpcomp.sh
csharpexec.sh
doc/Makefile
doc/Makefile.gdoc
doc/Makefile.in
doc/coverage/
doc/cyclo/Makefile
doc/cyclo/Makefile.in
doc/cyclo/cyclo-libidn.html
doc/idn.1
doc/java/Makefile
doc/java/Makefile.in
doc/java/about.html
doc/java/alphaindex.html
doc/java/deprecated.html
doc/java/gjdoc.properties
doc/java/gnu/
doc/java/index.html
doc/java/package-list
doc/java/resources/
doc/java/serialized-form.html
doc/libidn-components.eps
doc/libidn-components.pdf
doc/libidn-components.png
doc/libidn.aux
doc/libidn.cp
doc/libidn.cps
doc/libidn.dvi
doc/libidn.fn
doc/libidn.fns
doc/libidn.html
doc/libidn.info
doc/libidn.ky
doc/libidn.log
doc/libidn.pdf
doc/libidn.pg
doc/libidn.ps
doc/libidn.t2d/
doc/libidn.t2p/
doc/libidn.toc
doc/libidn.tp
doc/libidn.vr
doc/libidn.vrs
doc/man/
doc/reference/Makefile
doc/reference/Makefile.in
doc/reference/html-build.stamp
doc/reference/html.stamp
doc/reference/html/
doc/reference/libidn-decl-list.txt
doc/reference/libidn-decl-list.txt.bak
doc/reference/libidn-decl.txt
doc/reference/libidn-decl.txt.bak
doc/reference/libidn-overrides.txt
doc/reference/libidn-sections.txt
doc/reference/libidn-undeclared.txt
doc/reference/libidn-undocumented.txt
doc/reference/libidn-unused.txt
doc/reference/libidn.args
doc/reference/libidn.hierarchy
doc/reference/libidn.interfaces
doc/reference/libidn.pdf
doc/reference/libidn.prerequisites
doc/reference/libidn.signals
doc/reference/libidn.types
doc/reference/pdf-build.stamp
doc/reference/pdf.stamp
doc/reference/scan-build.stamp
doc/reference/setup-build.stamp
doc/reference/sgml-build.stamp
doc/reference/sgml.stamp
doc/reference/tmpl-build.stamp
doc/reference/tmpl.stamp
doc/reference/tmpl/
doc/reference/version.xml
doc/reference/xml/
doc/specifications/Makefile
doc/specifications/Makefile.in
doc/stamp-vti
doc/texi/
doc/tld/Makefile
doc/tld/Makefile.in
doc/version.texi
examples/.deps/
examples/.libs/
examples/Makefile
examples/Makefile.in
examples/example
examples/example.o
examples/example2
examples/example2.o
examples/example3
examples/example3.o
examples/example4
examples/example4.o
examples/example5
examples/example5.o
gl/.deps/
gl/.libs/
gl/Makefile
gl/Makefile.in
gl/alloca.h
gl/arg-nonnull.h
gl/asnprintf.lo
gl/asnprintf.o
gl/c++defs.h
gl/fseterr.lo
gl/fseterr.o
gl/getopt.h
gl/getopt.lo
gl/getopt.o
gl/getopt1.lo
gl/getopt1.o
gl/isnanl.lo
gl/isnanl.o
gl/libgnu.la
gl/math.h
gl/math.lo
gl/math.o
gl/printf-args.lo
gl/printf-args.o
gl/printf-frexp.lo
gl/printf-frexp.o
gl/printf-frexpl.lo
gl/printf-frexpl.o
gl/printf-parse.lo
gl/printf-parse.o
gl/progname.lo
gl/progname.o
gl/stddef.h
gl/stdio.h
gl/string.h
gl/sys/
gl/unistd.h
gl/unistd.lo
gl/unistd.o
gl/vasnprintf.lo
gl/vasnprintf.o
gl/version-etc.lo
gl/version-etc.o
gl/vfprintf.lo
gl/vfprintf.o
gl/warn-on-use.h
gl/wchar.h
gl/xsize.lo
gl/xsize.o
gltests/.deps/
gltests/Makefile
gltests/Makefile.in
gltests/alloca.h
gltests/arg-nonnull.h
gltests/binary-io.o
gltests/c++defs.h
gltests/fcntl.h
gltests/fd-hook.o
gltests/inttypes.h
gltests/libtests.a
gltests/malloca.o
gltests/randomd.o
gltests/randoml.o
gltests/stdio.h
gltests/stdio.o
gltests/stdlib.h
gltests/sys/
gltests/test-alloca-opt
gltests/test-alloca-opt.o
gltests/test-binary-io
gltests/test-binary-io.o
gltests/test-close
gltests/test-close.o
gltests/test-dup2
gltests/test-dup2.o
gltests/test-environ
gltests/test-environ.o
gltests/test-errno
gltests/test-errno.o
gltests/test-fcntl-h
gltests/test-fcntl-h.o
gltests/test-fdopen
gltests/test-fdopen.o
gltests/test-fgetc
gltests/test-fgetc.o
gltests/test-float
gltests/test-float.o
gltests/test-fputc
gltests/test-fputc.o
gltests/test-fread
gltests/test-fread.o
gltests/test-frexp-nolibm
gltests/test-frexp.o
gltests/test-frexpl-nolibm
gltests/test-frexpl.o
gltests/test-fseterr
gltests/test-fseterr.o
gltests/test-fstat
gltests/test-fstat.o
gltests/test-fwrite
gltests/test-fwrite.o
gltests/test-getcwd-lgpl
gltests/test-getcwd-lgpl.o
gltests/test-getdtablesize
gltests/test-getdtablesize.o
gltests/test-getopt
gltests/test-getopt.o
gltests/test-gettimeofday
gltests/test-gettimeofday.o
gltests/test-ignore-value
gltests/test-ignore-value.o
gltests/test-intprops
gltests/test-intprops.o
gltests/test-inttypes
gltests/test-inttypes.o
gltests/test-isnand-nolibm
gltests/test-isnand-nolibm.o
gltests/test-isnanf-nolibm
gltests/test-isnanf-nolibm.o
gltests/test-isnanl-nolibm
gltests/test-isnanl-nolibm.o
gltests/test-lstat
gltests/test-lstat.o
gltests/test-malloca
gltests/test-malloca.o
gltests/test-math
gltests/test-math.o
gltests/test-memchr
gltests/test-memchr.o
gltests/test-open
gltests/test-open.o
gltests/test-pathmax
gltests/test-pathmax.o
gltests/test-printf-frexp
gltests/test-printf-frexp.o
gltests/test-printf-frexpl
gltests/test-printf-frexpl.o
gltests/test-setenv
gltests/test-setenv.o
gltests/test-signbit
gltests/test-signbit.o
gltests/test-stat
gltests/test-stat.o
gltests/test-stdalign
gltests/test-stdalign.o
gltests/test-stdbool
gltests/test-stdbool.o
gltests/test-stddef
gltests/test-stddef.o
gltests/test-stdint
gltests/test-stdint.o
gltests/test-stdio
gltests/test-stdio.o
gltests/test-stdlib
gltests/test-stdlib.o
gltests/test-strerror
gltests/test-strerror.o
gltests/test-string
gltests/test-string.o
gltests/test-symlink
gltests/test-symlink.o
gltests/test-sys_stat
gltests/test-sys_stat.o
gltests/test-sys_time
gltests/test-sys_time.o
gltests/test-sys_types
gltests/test-sys_types.o
gltests/test-sys_wait
gltests/test-sys_wait.o
gltests/test-time
gltests/test-time.o
gltests/test-unistd
gltests/test-unistd.o
gltests/test-unsetenv
gltests/test-unsetenv.o
gltests/test-vasnprintf
gltests/test-vasnprintf.o
gltests/test-verify
gltests/test-version-etc
gltests/test-version-etc.o
gltests/test-vfprintf-posix
gltests/test-vfprintf-posix.o
gltests/test-wchar
gltests/test-wchar.o
gltests/time.h
gltests/version-etc-fsf.o
gltests/warn-on-use.h
gltests/wchar.h
java/libidn-*.jar
java/src/main/java/gnu/inet/encoding/CombiningClass.class
java/src/main/java/gnu/inet/encoding/Composition.class
java/src/main/java/gnu/inet/encoding/DecompositionKeys.class
java/src/main/java/gnu/inet/encoding/DecompositionMappings.class
java/src/main/java/gnu/inet/encoding/IDNA.class
java/src/main/java/gnu/inet/encoding/IDNAException.class
java/src/main/java/gnu/inet/encoding/NFKC.class
java/src/main/java/gnu/inet/encoding/Punycode.class
java/src/main/java/gnu/inet/encoding/PunycodeException.class
java/src/main/java/gnu/inet/encoding/RFC3454.class
java/src/main/java/gnu/inet/encoding/RangeSet$1.class
java/src/main/java/gnu/inet/encoding/RangeSet$Builder.class
java/src/main/java/gnu/inet/encoding/RangeSet$Range.class
java/src/main/java/gnu/inet/encoding/RangeSet$RangeContainsComparator.class
java/src/main/java/gnu/inet/encoding/RangeSet.class
java/src/main/java/gnu/inet/encoding/Stringprep.class
java/src/main/java/gnu/inet/encoding/StringprepException.class
java/src/main/java/gnu/inet/encoding/classnoinst.stamp
java/src/util/java/GenerateNFKC.class
java/src/util/java/GenerateRFC3454$Range.class
java/src/util/java/GenerateRFC3454.class
java/src/util/java/TestIDNA.class
java/src/util/java/TestNFKC.class
java/src/util/java/classnoinst.stamp
java/target
lib/.deps/
lib/.libs/
lib/Makefile
lib/Makefile.in
lib/gl/.deps/
lib/gl/.libs/
lib/gl/Makefile
lib/gl/Makefile.in
lib/gl/arg-nonnull.h
lib/gl/c++defs.h
lib/gl/c-ctype.lo
lib/gl/c-ctype.o
lib/gl/c-strcasecmp.lo
lib/gl/c-strcasecmp.o
lib/gl/c-strncasecmp.lo
lib/gl/c-strncasecmp.o
lib/gl/iconv.h
lib/gl/iconv_open-aix.h
lib/gl/iconv_open-hpux.h
lib/gl/iconv_open-irix.h
lib/gl/iconv_open-osf.h
lib/gl/iconv_open-solaris.h
lib/gl/libgnu.la
lib/gl/stddef.h
lib/gl/striconv.lo
lib/gl/striconv.o
lib/gl/string.h
lib/gl/sys/
lib/gl/unistr.h
lib/gl/unistr/.deps/
lib/gl/unistr/.dirstamp
lib/gl/unistr/.libs/
lib/gl/unistr/u8-mbtoucr.lo
lib/gl/unistr/u8-mbtoucr.o
lib/gl/unistr/u8-uctomb-aux.lo
lib/gl/unistr/u8-uctomb-aux.o
lib/gl/unistr/u8-uctomb.lo
lib/gl/unistr/u8-uctomb.o
lib/gl/unistr/unistr
lib/gl/unitypes.h
lib/gl/unused-parameter.h
lib/gl/warn-on-use.h
lib/gl/wchar.h
lib/gltests/.deps/
lib/gltests/Makefile
lib/gltests/Makefile.in
lib/gltests/alloca.h
lib/gltests/arg-nonnull.h
lib/gltests/c++defs.h
lib/gltests/dummy.o
lib/gltests/glthread/.deps/
lib/gltests/glthread/.dirstamp
lib/gltests/glthread/glthread
lib/gltests/glthread/lock.o
lib/gltests/glthread/thread.o
lib/gltests/glthread/threadlib.o
lib/gltests/inttypes.h
lib/gltests/langinfo.h
lib/gltests/libtests.a
lib/gltests/locale.h
lib/gltests/localename.o
lib/gltests/malloca.o
lib/gltests/stdlib.h
lib/gltests/sys/
lib/gltests/test-alloca-opt
lib/gltests/test-alloca-opt.o
lib/gltests/test-c-ctype
lib/gltests/test-c-ctype.o
lib/gltests/test-c-strcasecmp
lib/gltests/test-c-strcasecmp.o
lib/gltests/test-c-strncasecmp
lib/gltests/test-c-strncasecmp.o
lib/gltests/test-environ
lib/gltests/test-environ.o
lib/gltests/test-iconv
lib/gltests/test-iconv.o
lib/gltests/test-intprops
lib/gltests/test-intprops.o
lib/gltests/test-inttypes
lib/gltests/test-inttypes.o
lib/gltests/test-langinfo
lib/gltests/test-langinfo.o
lib/gltests/test-locale
lib/gltests/test-locale.o
lib/gltests/test-localename
lib/gltests/test-localename.o
lib/gltests/test-lock
lib/gltests/test-lock.o
lib/gltests/test-malloca
lib/gltests/test-malloca.o
lib/gltests/test-setenv
lib/gltests/test-setenv.o
lib/gltests/test-setlocale1
lib/gltests/test-setlocale1.o
lib/gltests/test-setlocale2
lib/gltests/test-setlocale2.o
lib/gltests/test-stdalign
lib/gltests/test-stdalign.o
lib/gltests/test-stdbool
lib/gltests/test-stdbool.o
lib/gltests/test-stddef
lib/gltests/test-stddef.o
lib/gltests/test-stdint
lib/gltests/test-stdint.o
lib/gltests/test-stdlib
lib/gltests/test-stdlib.o
lib/gltests/test-striconv
lib/gltests/test-striconv.o
lib/gltests/test-string
lib/gltests/test-string.o
lib/gltests/test-strverscmp
lib/gltests/test-strverscmp.o
lib/gltests/test-sys_types
lib/gltests/test-sys_types.o
lib/gltests/test-thread_create
lib/gltests/test-thread_create.o
lib/gltests/test-thread_self
lib/gltests/test-thread_self.o
lib/gltests/test-u8-mbtoucr
lib/gltests/test-u8-uctomb
lib/gltests/test-unistd
lib/gltests/test-unistd.o
lib/gltests/test-unsetenv
lib/gltests/test-unsetenv.o
lib/gltests/test-verify
lib/gltests/test-wchar
lib/gltests/test-wchar.o
lib/gltests/unistd.h
lib/gltests/unistd.o
lib/gltests/unistr/.deps/
lib/gltests/unistr/.dirstamp
lib/gltests/unistr/test-u8-mbtoucr.o
lib/gltests/unistr/test-u8-uctomb.o
lib/gltests/unistr/unistr
lib/gltests/unused-parameter.h
lib/gltests/warn-on-use.h
lib/gltests/wchar.h
lib/idn-free.lo
lib/idn-free.o
lib/idn-int.h
lib/idna.lo
lib/idna.o
lib/libidn.la
lib/nfkc.lo
lib/nfkc.o
lib/pr29.lo
lib/pr29.o
lib/profiles.lo
lib/profiles.o
lib/punycode.lo
lib/punycode.o
lib/rfc3454.c
lib/rfc3454.lo
lib/rfc3454.o
lib/strerror-idna.lo
lib/strerror-idna.o
lib/strerror-pr29.lo
lib/strerror-pr29.o
lib/strerror-punycode.lo
lib/strerror-punycode.o
lib/strerror-stringprep.lo
lib/strerror-stringprep.o
lib/strerror-tld.lo
lib/strerror-tld.o
lib/stringprep.lo
lib/stringprep.o
lib/tld.lo
lib/tld.o
lib/tlds.c
lib/tlds.lo
lib/tlds.o
lib/toutf8.lo
lib/toutf8.o
lib/version.lo
lib/version.o
libidn-*.tar.gz
libidn-*.tar.gz.sig
libidn.pc
libtool
m4/codeset.m4
m4/extern-inline.m4
m4/fcntl-o.m4
m4/gettext.m4
m4/glibc2.m4
m4/glibc21.m4
m4/iconv.m4
m4/intdiv0.m4
m4/intl.m4
m4/intldir.m4
m4/intlmacosx.m4
m4/intmax.m4
m4/inttypes-pri.m4
m4/inttypes_h.m4
m4/lcmessage.m4
m4/lib-ld.m4
m4/lib-link.m4
m4/lib-prefix.m4
m4/libtool.m4
m4/lock.m4
m4/longlong.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
m4/nls.m4
m4/po.m4
m4/printf-posix.m4
m4/progtest.m4
m4/size_max.m4
m4/stdint_h.m4
m4/threadlib.m4
m4/uintmax_t.m4
m4/visibility.m4
m4/wchar_t.m4
m4/wint_t.m4
m4/xsize.m4
po/*.gmo
po/*.po
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/Makevars.template
po/POTFILES
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@boldquot.insert-header
po/en@quot.header
po/en@quot.insert-header
po/insert-header.sin
po/libidn.pot
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
pom.xml
scan.tmp
src/.deps/
src/.libs/
src/Makefile
src/Makefile.in
src/idn
src/idn.o
src/idn_cmd.c
src/idn_cmd.h
src/libidn_cmd.la
src/libidn_cmd_la-idn_cmd.lo
src/libidn_cmd_la-idn_cmd.o
stamp-h1
tests/.deps/
tests/Makefile
tests/Makefile.in
tests/libutils.a
tests/tst_idna
tests/tst_idna.o
tests/tst_idna2
tests/tst_idna2.o
tests/tst_idna3
tests/tst_idna3.o
tests/tst_idna4
tests/tst_idna4.o
tests/tst_nfkc
tests/tst_nfkc.o
tests/tst_pr29
tests/tst_pr29.o
tests/tst_punycode
tests/tst_punycode.o
tests/tst_strerror
tests/tst_strerror.o
tests/tst_stringprep
tests/tst_stringprep.o
tests/tst_symbols
tests/tst_symbols.o
tests/tst_tld
tests/tst_tld.o
tests/tst_toutf8
tests/tst_toutf8.o
tests/utils.o
windows/libidn-*-win??.zip
windows/libidn-*-win??.zip.sig
windows/tmp32
windows/tmp64
